<mat-toolbar color="primary">
  <h1>Hangman Game</h1>
</mat-toolbar>
<mat-grid-list cols="2" rows="3" rowHeight="5em" gutterSize="1em" style="margin-top: 1em;">
  <mat-grid-tile rowspan="3" style="background-color: lightgreen;">img</mat-grid-tile>
  <mat-grid-tile class="mat-elevation-z4" style="border-radius: 4px; background-color: lightyellow;"><hm-controls></hm-controls></mat-grid-tile>
  <mat-grid-tile style="background-color: lightblue;"><hm-word></hm-word></mat-grid-tile>
  <mat-grid-tile style="background-color: lightcoral;"><hm-letters></hm-letters></mat-grid-tile>
</mat-grid-list>